**The Notebook contains my solution to the stage A quiz**

In [1]:
#Import Libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#Read the csv dataset

df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "Latin-1")

In [3]:
#Check the dataset to confirm it fit with the instructions given

df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

#### QUESTION #1

What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [4]:
mean_2017 = df['Y2017'].mean()
x = "{:.2f}".format(mean_2017)

standard_deviation_2017 = df['Y2017'].std()
y = "{:.2f}".format(standard_deviation_2017)

print(f"The MEAN and STANDARD DEVIATION for the whole dataset for the year 2017 are {x} and {y} respectively")

The MEAN and STANDARD DEVIATION for the whole dataset for the year 2017 are 140.92 and 1671.86 respectively

#### Question #2

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [5]:
x = pd.DataFrame(df.groupby('Area')['Y2017', 'Area'].sum()).reset_index()

x = x.sort_values('Y2017')

print(f"The country with the 7th lowest sum in 2017 is {x.iat[6,0]}")

The country with the 7th lowest sum in 2017 is Guinea-Bissau

C:\Users\LENOVO~1\AppData\Local\Temp/ipykernel_7948/1028141879.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  x = pd.DataFrame(df.groupby('Area')['Y2017', 'Area'].sum()).reset_index()

#### Question #3

Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [6]:
r = pd.DataFrame(df.groupby('Element')['Y2017'].sum())

r = r.reset_index()

print(f"The total sum of Processing in 2017 is {r.iloc[10]}")

The total sum of Processing in 2017 is Element    Processing
Y2017        292836.0
Name: 10, dtype: object

#### Question #5

Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

In [7]:
q5 = pd.DataFrame(df.groupby('Item')['Y2015', 'Y2018'].sum())
q5.loc['Wine']

C:\Users\LENOVO~1\AppData\Local\Temp/ipykernel_7948/3765965038.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  q5 = pd.DataFrame(df.groupby('Item')['Y2015', 'Y2018'].sum())

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64

#### Question #6

Which year had the least correlation with ‘Element Code’?

In [8]:
df1 = df[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Element Code']]
df1.corr()

                 Y2014     Y2015     Y2016     Y2017     Y2018  Element Code
Y2014         1.000000  0.994647  0.996081  0.995230  0.994872      0.024457
Y2015         0.994647  1.000000  0.995739  0.988048  0.988208      0.023889
Y2016         0.996081  0.995739  1.000000  0.992785  0.992757      0.023444
Y2017         0.995230  0.988048  0.992785  1.000000  0.998103      0.024254
Y2018         0.994872  0.988208  0.992757  0.998103  1.000000      0.024279
Element Code  0.024457  0.023889  0.023444  0.024254  0.024279      1.000000

From obseriving the above table, **Y2016** has the least correlation with Element code

#### Question #7
What is the total Protein supply quantity in Madagascar in 2015?

In [9]:
q7 = pd.DataFrame(df.groupby(['Element', 'Area'])['Y2015'].sum().loc['Protein supply quantity (g/capita/day)'])
q7.loc['Madagascar']

Y2015    173.05
Name: Madagascar, dtype: float64

#### Question #8

What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [10]:
missing_data = df['Y2014'].isnull().sum()
percentage = (missing_data / len(df)) * 100

print('Missing Data', missing_data)
print("{:.3f}%".format(percentage))

Missing Data 1589
2.607%

#### Question #9

What is the total number of unique countries in the dataset?

In [11]:
unique_country = df['Area'].unique()


Unique_country = 0
for country in  unique_country:
    Unique_country +=1
    
print(f"The total number of UNIQUE COUNTRIES is {Unique_country}")

The total number of UNIQUE COUNTRIES is 49

#### Question #14

Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [12]:
df.groupby('Element')['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].sum().loc['Stock Variation']

C:\Users\LENOVO~1\AppData\Local\Temp/ipykernel_7948/2097233957.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('Element')['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].sum().loc['Stock Variation']

Y2014    58749.83
Y2015    34910.99
Y2016    33140.12
Y2017    54316.91
Y2018    20577.91
Name: Stock Variation, dtype: float64

**Y2014** has the highest stock variation

#### Question #15

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [13]:
q15 = pd.DataFrame(df.groupby('Area')['Y2017'].sum()).reset_index()
q15.sort_values('Y2017')

                           Area       Y2017
42               Sudan (former)        0.00
16                 Ethiopia PDR        0.00
9                       Comoros       59.84
38                   Seychelles      442.34
36        Sao Tome and Principe    12662.63
5                    Cabo Verde    14650.74
21                Guinea-Bissau    19102.77
23                      Lesotho    21267.96
3                      Botswana    22101.30
12                     Djibouti    22729.91
18                       Gambia    23154.18
17                        Gabon    27979.64
24                      Liberia    29342.20
32                      Namibia    29874.89
7      Central African Republic    29937.00
10                        Congo    41181.68
43                         Togo    49841.88
29                    Mauritius    51114.83
14                     Eswatini    54343.33
39                 Sierra Leone    55311.33
8                          Chad    71594.68
35                       Rwanda    73663.69
48                     Zimbabwe    75919.34
37                      Senegal    95681.15
20                       Guinea    98138.87
4                  Burkina Faso   101855.07
47                       Zambia   103223.77
44                      Tunisia   124167.20
2                         Benin   124771.22
33                        Niger   126707.58
25                   Madagascar   131197.73
27                         Mali   149928.33
28                   Mauritania   156665.46
31                   Mozambique   161407.98
26                       Malawi   181098.71
45                       Uganda   213950.38
11                Côte d'Ivoire   224599.01
1                        Angola   229159.57
6                      Cameroon   232030.43
41                        Sudan   239931.92
22                        Kenya   264660.66
46  United Republic of Tanzania   322616.85
0                       Algeria   325644.27
19                        Ghana   337599.06
30                      Morocco   388495.36
15                     Ethiopia   448683.76
40                 South Africa   517590.54
13                        Egypt   866379.92
34                      Nigeria  1483268.23

**Nigeria** has the highest sum in Y2017